nav ul {
  list-style: none;
}

nav li {
  padding-right: 50px;
}

.navigation-icon {
  font-size: 50px;
}

.product-image {
  max-width: 300px;
}

.dropdownMenu {
  position: relative;
  display: inline-block;
}
.dropdown-contents {
  position: absolute;
  display: none;
  background-color: wheat;
  z-index: 1000;
  width: 100%;
}

.show {
  display: block;
}

.shopping-cart-items {
  position: relative;
  display: inline-block;
}
.shopping-cart {
  position: relative;
  display: none;
  background-color: wheat;
  z-index: 1000;
}

.show-cart {
  display: block;
}

.dropdown-contents a {
  text-decoration: none;
  display: block;
  padding: 30px;
}

.dropdown-contents a:hover {
  cursor: pointer;
  background-color: rgb(193, 192, 192);
}

select {
  display: block;
  padding: 5px;
  border-radius: 1px solid black;
  max-width: 100px;
  max-height: 100px;
}

.product-image-cart {
  width: 20%;
}
