nav ul {
  list-style: none;
}

nav li {
  padding-right: 50px;
}

.navigation-icon {
  font-size: 50px;
}

.product-image {
  max-width: 300px;
}

.dropdownMenu {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  position: absolute;
  display: none;
  background-color: wheat;
}

.show {
  display: block;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 30px;
}

.dropdown-content a:hover {
  cursor: pointer;
}
